{% set active = "recipe" %}
{% extends 'base.html.twig' %}

{% block title %}Recettes{% endblock %}

{% block body %}
    <div class="row">
        <ul class="list-group">
            {% for recipe in recipeRepository.findBy({}, {"name": "ASC"}) %}
                <li class="list-group-item list-group-item-action">
                    {{ recipe.name }}
                    <button
                            type="button"
                            class="btn btn-danger btn-sm float-end"
                            data-action="btn-ajax"
                            data-url="{{ path("shopping_list_remove_recipe", {"id_recipe" : recipe.id}) }}">
                        <i class="fas fa-trash-alt">
                            <span class="ps-2" style="font-family: 'Source Sans Pro'">Enlever</span>
                        </i>
                    </button>
                    <button
                            type="button"
                            class="btn btn-success btn-sm float-end me-1"
                            data-action="btn-ajax"
                            data-url="{{ path("shopping_list_add_recipe", {"id_recipe" : recipe.id}) }}">
                        <i class="fas fa-plus-circle">
                            <span class="ps-2" style="font-family: 'Source Sans Pro'">Ajouter</span>
                        </i>
                    </button>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
