{% set active = "department" %}
{% extends 'base.html.twig' %}

{% block title %}
    Rayons
{% endblock %}

{% block body %}
    <div class="row">
        {% for department in departmentRepository.findBy({}, {"name": "ASC"}) %}
            {% include "shared/_department_card.html.twig" %}
        {% endfor %}
    </div>
{% endblock %}
