{% if shoppingList is null or not shoppingList.recipes.contains(recipe) %}
    {% set url = path("shopping_list_add_recipe", {"id_recipe" : recipe.id}) %}
{% elseif shoppingList.recipes.contains(recipe) %}
    {% set url = path("shopping_list_remove_recipe", {"id_recipe" : recipe.id}) %}
{% endif %}
<li
        id="recipe_{{ recipe.id }}"
        class="list-group-item d-flex list-group-item-action">
    <div
            role="button"
            class="flex-fill"
            data-action="btn-ajax"
            data-url="{{ url }}">
        {% if shoppingList is null or not shoppingList.recipes.contains(recipe) %}
            <i data-loader="replace" class="far fa-square me-1"></i>
        {% elseif shoppingList.recipes.contains(recipe) %}
            <i data-loader="replace" class="far fa-check-square me-1"></i>
        {% endif %}
        {{ recipe.name|capitalize }}
    </div>
    <span
            role="button"
            style="line-height: inherit;"
            data-action="link"
            data-url="{{ path("recipe_show", {"slug" : recipe.slug}) }}"
            class="badge float-end bg-primary rounded-pill me-1">
        details
    </span>
</li>
