<div class="col">
    <div class="card bg-light mb-3" style="max-width: 20rem;">
        <div class="card-header">{{ recipe.name }}
            <button type="button" class="btn btn-success btn-sm float-end">Ajouter</button>
        </div>
        <div class="card-body">
            <p class="card-text">
                {% for ingredient in recipe.ingredients %}
                    <span class="badge rounded-pill bg-primary">{{ ingredient.name }}</span>
                {% endfor %}
            </p>
        </div>
    </div>
</div>
